html,
body,
#root,
p {
  margin: 0;
  padding: 0;
}

#root {
  height: 100dvh;
}

.App {
  height:100%;
  text-align: center;
  background: #dedede;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  flex: 1 1 auto;
}

.divider {
  width: 4px;
  height: 4px;
}

.panel {
  background: white;
  border: #0003 solid 1px;
  border-radius: 8px;
}

.sidebar {
  text-align: left;
  flex: 0 0 280px;
  overflow: hidden;
}

.gallery {
  flex: 1 1 auto;
}

.gallery-list {

}

.gallery img {
  height: 200px;
  object-fit: cover;
}
