.App {
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.sidebar {
  text-align: left;
  outline: gray dashed 1px;
  flex: 0 0 280px;
}

.gallery {
  flex: 1 1 auto;
  outline: gray dashed 1px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.gallery img {
  height: 200px;
  object-fit: cover;
}
